In [27]:
import pandas as pd
import numpy as np
import scipy.stats as stats



data = pd.read_excel('source.xlsm', engine='openpyxl')

In [28]:
statistic, p_value = stats.shapiro(data['car model year'].dropna())
p_value

np.float64(1.9295897668014964e-24)

In [31]:

dataCarModeYearD = data['car model year'].describe()
lowBound = dataCarModeYearD['25%'] - (1.5 * (dataCarModeYearD['75%'] - dataCarModeYearD['25%']))
highBound = dataCarModeYearD['75%'] + (1.5 * (dataCarModeYearD['75%'] - dataCarModeYearD['25%']))
outliers = data[(data['car model year'] < lowBound) | (data['car model year'] > highBound)]
outliers.head(10)

    First name   Last name      country  car make   car model year
70      Ellery      Biggin       Poland  Chevrolet            1969
74      Waldon  Giacobazzi      Albania  Chevrolet            1967
133  Pierrette      Fayter        Japan      Dodge            1970
134     Hamnet    Athridge  Netherlands   Plymouth            1969
139    Filippo   Wheelband        China    Pontiac            1961
146     Ferrel      Gallop        China  Chevrolet            1968
148    Gunther   Bernollet       Russia       Ford            1967
165   Germayne       Ebbin    Indonesia  Chevrolet            1958
171       Edan     Commins       Greece  Chevrolet            1964
225      Cammy      Derill     Thailand       Ford            1958