In [20]:
import pandas as pd
data = pd.read_excel('lab4Kucheriaviy.xlsm')
dp = data.duplicated()
dp.value_counts()

False    1000
True        7
Name: count, dtype: int64

In [21]:
dpLines = data[data.duplicated(keep='first')]
dpLines

    First name  Last name   country   car make   car model year
168     Shelly   Hakonsen    Mexico       Dodge            2003
193     Delmor  McDiarmid     China  Volkswagen            1994
236    Rolland  Selvester    Brazil       Dodge            2009
281       Fred    Domeney     China    Chrysler            1997
355     Neddie    Corryer  Pakistan   Chevrolet            2007
787     Gaylor       Aris      Iraq       Dodge            1993
900      Lucho       Hann     Syria         BMW            2006

In [16]:
data = data.drop_duplicates()
dp = data.duplicated()
dp.value_counts()

False    1000
Name: count, dtype: int64